html, body, body > .holder-canvas, .off-canvas-wrap {
  height:100%;
}

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?14260954');
  src: url('../font/fontello.eot?14260954#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?14260954') format('woff'),
       url('../font/fontello.ttf?14260954') format('truetype'),
       url('../font/fontello.svg?14260954#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

body  {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #f2f2f2;
  height: 100%;
  color: #686868;
}

/* grey:  #f2f2f2; */
/* blue: #579dc9; */

a  {
  color: #579dc9;
}

button  {
  background-color: #579dc9;
}

#landing-bg, .article-header  {
  background: #579dc9 url(../images/bg-pattern.jpg);
}


#landing-bg  {
  height: 100vh;
}

#landing  {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#landing span  {
  position: relative;
  top: 3px;
}

h1, h1 > a  {
  font-size: 60px;
  color: #f2f2f2;
  text-shadow: 0 4px 0 #457fa3;
}

h1 > a:hover  {
  color: #f2f2f2;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}

.icon-menu:before {
  content: '\e800';
}

.icon-menu  {
  color: #f2f2f2;
  position: absolute;
  top: 25px;
  right: 5px;
  font-size: 44px;
}

.icon-github-circled:before {
  content: '\e801';
}

.icon-github-circled  {
  color: #579dc9;
  font-size: 34px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
}

#landing p  {
  color: #f2f2f2;
  font-size: 18px;
  line-height: 27px;
  text-shadow: 0 2px 0 #457fa3;
}

#landing a {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  width: 342px;
  line-height: 56px;
  border: 3px solid #4d8bb1;
  -moz-border-radius: 22px / 23px;
  -webkit-border-radius: 22px / 23px;
  border-radius: 22px / 23px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #f1f1f1;
  -moz-box-shadow: inset 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDM0MiA1NiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjAuMDUiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuMDUiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIzNDIiIGhlaWdodD0iNTYiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
  background-image: -moz-linear-gradient(bottom, rgba(0,0,1,.05) 0%, rgba(255,255,255,.05) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,1,.05) 0%, rgba(255,255,255,.05) 100%);
  background-image: linear-gradient(bottom, rgba(0,0,1,.05) 0%, rgba(255,255,255,.05) 100%);
}

#landing a:active  {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.05) 0%, rgba(0,0,1,.05) 100%);
  background-image: -o-linear-gradient(bottom, rgba(255,255,255,.05) 0%, rgba(0,0,1,.05) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.05) 0%, rgba(0,0,1,.05) 100%);
  background-image: linear-gradient(bottom, rgba(255,255,255,.05) 0%, rgba(0,0,1,.05) 100%);
}

/*.inner-wrap {
  min-height: 100%;
  overflow: hidden;
}*/

.article-header  {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 2px 1px rgba(0,0,0,0.2);
}

.logout  {
  width: 100px;
  line-height: 50px;
  text-align: center;
  color: #f2f2f2;
  background-color: #457fa3;
  position: absolute;
  top: 25px;
  right: 5px;
  font-size: 18px;
  border: 1px solid #3b7193;
  border-radius: 5px;
}

.logout:hover  {
  background-color: #3b7193;
  color: #f2f2f2;
  border-color: #32617f;
}

.nav  {
  list-style: none;
  text-align: center;
  margin-left: 0;
  color: #f2f2f2;
}

.nav li  {
  line-height: 50px;
}

.nav li:nth-child(n+2)  {
  border-bottom: 1px solid #212122;
}

.nav li:nth-child(n+3):hover  {
  background-color: #3b3a3b;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.nav li img  {
  margin-top: 15px;
}


.nav li a  {
  display: block;
  width: 100%;
  color: #f2f2f2;
}

.nav li a:hover  {
  color: #579dc9;
}


.article-bg  {
  margin-top: 100px;
  padding-top: 20px;
}

.article-body h2  {
  text-align: center;
  color: #579dc9;
}

.article-body article  {
  clear: both;
  margin-bottom: 40px;
}

.article-body article p  {
  overflow: hidden;
}

.article-body img  {
  float: left;
  margin-right: 15px;
}

.article-title  {
  font-size: 20px;
/*  text-transform: capitalize;*/
}

.article-date  {
  font-style: italic;
}

.article-body p  {
  font-size: 18px;
  line-height: 27px;
}

.article-body textarea  {
  height: 200px;
}

.article-button {
  display: block;
  float: right;
  color: #f2f2f2;
  background-color: #579dc9;
  width: 150px;
  text-align: center;
  margin-bottom: 25px;
  border: none;
  box-shadow: 0 4px 0 #4987ad;
}

.article-button:hover {
  background-color: #579dc9;
  top: -2px;
  box-shadow: 0 6px 0 #4987ad;
}

.article-button:focus  {
  outline: none;
}

.article-button:active  {
  top: 6px;
  border: none;
  outline: none;
  box-shadow: 0 0px 0 #4987ad;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}

.article-poster  {
  line-height: 100px;
  border: 1px solid #cccccc;
  overflow: hidden;
}

.article-poster img  {
  margin: 10px 10px;
}

.article-poster p  {
  margin-top: 35px;
}

.comment-form  {
  overflow: hidden;
  margin-bottom: 30px;
}

.comment  {
  margin-bottom: 50px;
}

.comment p  {
  overflow: hidden;
}

@media only screen and (max-width: 528px) {

  #landing h1, h1 > a  {
    font-size: 42px;
  }

  #landing a  {
    width: auto;
  }

  .logout  {
    top: 30px;
    font-size: 16px;
    width: 65px;
    line-height: 40px;
  }


  .article-button  {
    float: none;
    width: 100%;
  }

  #landing p, .article-body article p  {
    font-size: 16px;
    line-height: 24px;
  }

  .article-date  {
    display: block;
    margin: 3px auto 2px;
  }

  .article-poster img  {
    float: none;
    display: block;
    margin: 10px auto 5px;
  }

  .article-poster p  {
    margin: 0 auto;
    text-align: center;
  }

  .article-poster .article-date  {
    display: inline;
  }

}